---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const props = Astro.props;
---

<BaseLayout {...props}>
  <Header />
  <main id="content" class="relative">
    <slot />
  </main>
  <Footer />
</BaseLayout>
